@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$fondoOscuro:#A64D79;
$fondoClaro:#D5A6BD;
$fontTitle:'Indie Flower', cursive;
$fontText:'Montserrat', sans-serif;
body{
  background-color:$fondoOscuro ;
}
.carrusel{
  text-align: center;
}
.border{
  border: 1px solid black !important;
}
.contenedor, .contenedorContacto, .contenedorPostresyRecetas, .contenedorQuienesSomos, .contenedorGaleria{
  display: grid;
}
a:hover{
  color: $fondoOscuro;
}
/* comienza el nav*/
.navbar{
  background-color: $fondoClaro !important;
}
.title{ 
  color: white !important;
  font-family: $fontTitle;
}
.navbar li{
  font-weight: bold;
  font-family: $fontText;
}
/*termina el nav*/
/*comienza logo*/
.logoCentro{
  text-align: center;
}
/*termina logo*/
/*Comienza Articulos*/
.quienesSomos, .postresyRecetas, .galeria, .contacto{
  background-color: #D5A6BD;
}
.titleBox{
  display: block;
  color: white;
  font-family: $fontTitle;
  text-align: center;
  text-decoration: none;
}
.titlePag{
  @extend .titleBox;
}
.quienesSomos p a {
  color: $fondoOscuro;
}
.textoSmall{
  font-family: $fontText;
  font-weight: bold;
  text-align: center;
  color: black;
}
.textoSmall a{
  color: $fondoOscuro;
  text-decoration: none;
}
.textoSmall a:hover{
  color: white;
}
.image, .imagePyR{
  border: 5px groove grey;
}
.PostresyRecetas-receta{
  text-align: center;
}
.linkReceta{
  display:block;
  border: 2px solid white;
  background-color: $fondoOscuro;
  font-family: $fontText;
  text-decoration: none;
  color: white;
  text-align: center;
  padding:5px;
}
.linkReceta:hover{
  background-color: #8d4066;
  color: gray;
}
form input,form textarea{
  font-family: $fontText;
  border: none;
  resize: none;
}
textarea{
  height: 60px;
}
#boton1 {
	background-color: $fondoOscuro;
	color: 	white;
  font-family: $fontText;
}
#boton1:hover{
  background-color: #8d4066;
  color: grey;
}
#boton2{
  @extend #boton1;
  background-color: $fondoClaro;
  color: black;
}
#boton2:hover{
  background-color: #b6889e;
  color: black;
}
/*Termina Articulos*/
/*Comienza Footer*/
strong {
  color: white;
  font-family: 'Indie Flower', cursive;
}
.listFoo {
  list-style: none;
  font-family: $fontText;
  font-weight: bold;
  float: center;
  color: white;
}
footer div li a {
  color: white;
  text-decoration: none;
}
footer div li a:hover {
  color: $fondoClaro;
}
.fooImage{
  height: 15px;
}
/*Termina Footer*/
/*galeria*/
.imageGaleria{
  border: 5px groove grey;
}
/*Comienza pagina Quienes somos*/

.imagePyRBox{
  height: 400px;
  width: 400px;
}
.queHacemos, .lesAseguramos{
  background-color: $fondoClaro;
}
.listPyR{
  list-style-type: none;
}
/*termina pagina quienes somos*/
/*Comienza PYR*/
.receta{
  background-color: $fondoClaro;
}
.ingredientes{
  list-style-type: none;
  border-radius:50%;
  background-color: $fondoOscuro;
  text-align: center;
  font-family: $fontText;
  color: white;
}
.titleIng,.titlePre{
  font-family: $fontTitle;
  text-align: center;
}
.listPre{
  text-align: left;
  font-family: $fontText;
  font-weight: bold;
}
/*Termina PYR*/
/*------------------------------------Comienza Media------------------------------------------------------------------------------------------*/
/*----------------------COMIENZA MEDIA 318px-------------------------------------------------------------------------------*/
@media only screen and (min-width:318px) {
  .contenedor{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 450px 600px 650px 500px ;
  }
  /*comienza nav*/
  .navbar{
    grid-column: 1fr;
    grid-row: 1/2;
  }
  .title{
    margin: 10px 0px 0px 10px ;
    font-size: 28px;
  }
  .navChanges{
    display: flex;
    flex-direction: row;
    font-size: 9px;
  }
  .nav-item{
    padding-left: 7px;
  }
/*termina nav*/
  /*comienza logo*/
  .logoCentro{
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .logo{
    margin-top: 50px;
    height: 300px;
    width: auto;
  }
  /*termina logo*/
  /*comienzan articles de arriba*/
  /*articulo de quienes somos*/
  .quienesSomos{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .titleBox{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 35px;
  }
  .textoSmall{
    margin: 0px 20px 0px 20px;
    line-height: 25px;
    font-size: 16px;
  }
  /*termina articulo de quienes somos*/
  /*comeienza arituclo galeria*/
  .galeria{
    display: none;
  }
  /*termina articulo galeria*/
  /*termina articles de arriba*/
  /*comienza articulos de abajo*/
  /*comienza articulo postres y recetas*/
  .postresyRecetas{
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .recetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
  .imagePyR{
    height: 150px;
    width: auto;
    margin-top: 20px;
  }
  /*termina articulo postres y recetas*/
  /*comienza articulo contacto*/
  .contacto{
    display: none;
  }
  /*termina articulo contacto*/
  /*termina articulos de abajo*/
  /*comienza footer*/
  .foo{
    grid-column: 1/4;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }

  .fooImage {
    height: 15px;
    width: 15px;
    margin: 0px 5px 0px 5px;
  }
  strong{
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 20px;
  }
  .marginTop{
    margin-top: 20px;
  }    
  .listfoo{
    margin: 5px 5px 5px 30px;
  }
/*Termina Footer*/
/*Termina Pagina Inicio*/
/*--------------------------------------Comienza Pagina Quienes Somos--------------------------------------------------------*/
.contenedorQuienesSomos{
  grid-template-rows:100px 300px 750px 750px 400px 500px;
  grid-template-columns: 1fr;
}
/*Comienza Titulo*/
.titulo{
  grid-row: 2/3;
  grid-column: 1fr;
}
.titlePag{
  margin-top: 100px;
}
/*termina titulo*/
/*comienza articulo que hacemos*/
.queHacemos{
  grid-column: 1fr;
  grid-row:3/4;
  background-color: $fondoClaro;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.TitleAndImageQS{
  text-align: center;
}
.imageQSBox{
  height: 180px;
  width: auto;
  border: 5px groove grey;
}
/*termina articulo que hacemos*/
/*comienza articulo porque lo hacemos*/
.porqueLoHacemos{
  grid-column: 1fr;
  grid-row:4/5;
  background-color: $fondoOscuro;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*termina articulo porque lo hacemos*/
/*comienza articulo les aseguramos*/
.lesAseguramos{
grid-column: 1fr;
grid-row:5/6;
background-color: $fondoClaro;
display: flex;
flex-direction: column;
justify-content: flex-start;
}
.listQS{
  margin-top: 10px;
  padding: 5px;
  list-style-type:none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: white;
}
.listQS h4{
  font-size: 18px;
}
.listQS i{
  font-size: 30px;
  margin-bottom: 10px;
  color: #6a0c3b;
}
/*termina articulo les aseguramos*/
.foo--PyR{
grid-column: 1fr;
grid-row: 6/7;
}
/*Termina Pagina Quienes Somos*/
/*--------------------------------------------------------------------------------comienza pagina postresyrecetas--------------------------------------------------------------------------------------------------------------*/
.contenedorPostresyRecetas{
  grid-template-columns: 1fr;
  grid-template-rows: 100px 400px 1400px 1410px 1610px 550px;
}
.receta1{
grid-column: 1/2;
grid-row: 3/4;  
}
.receta2{
grid-column: 1/2;
grid-row: 4/5;
}
.receta3{
grid-column: 1/2;
grid-row: 5/6;
}
.receta{
border: 1px solid black;
display: flex;
flex-direction: row;
justify-content: space-around;
text-align: start;
flex-wrap: wrap;
}
.imageTorta{
width: 300px;
height: 150px;
border: 5px grey groove;
display: inline-block;
}
.titleTorta{
display:block;
margin-bottom: 10px;
text-align: center;
font-size: 30px;
margin-top: 30px;
}
.titleIng{
font-weight: bold;
margin-bottom: 10px;
font-size: 16px;
color: white;
letter-spacing: 2px;
text-transform: uppercase;
}
.ingredientes{
  margin-top: 10px;
  border: 5px solid black;
  height: 370px;
  width: 330px;
  text-align: center;
}
.titleIng{
  font-size: 20px;
}
.listIng{
  list-style-type: none;
  margin-top: 20px;
  margin-right: 20px;
}
.preparacion{
display: inline-block;
width: 100%;
margin-top: 50px;
}
.titlePre{
font-size: 30px;
text-align: center;
margin-bottom: 25px;
}

.listPre {
line-height: 25px;
font-size: 16px;
}
.foo-postresyRecetas{
grid-column: 1fr;
grid-row: 6/7;
}
/*------------------------------------------------termina pagina postresyrecetas--------------------------------------------------------------------------------------------------------------------*/
/*------------------------comienza pagina galeria ---------------------------*/
.contenedorGaleria{
  grid-template-columns:1fr;
  grid-template-rows:100px 200px 300px 500px;
}
.galeriaPage{
  grid-column: 1/2;
  grid-row: 3/4;
}
.imageGaleria{
  height: 200px;
  width: 300px;
}
.foo--galeria{
  grid-column: 1/2;
  grid-row: 4/5;
}
/*termina galeria*/
/*---------------------------------------------------Comienza contacto-----------------------------------------------------*/
.contenedorContacto{
  grid-template-rows:100px 200px 500px 500px;
  grid-template-columns: 1fr; 
}
.formularioContacto{
  grid-row: 3/4;
  grid-column: 1fr; 
}
.border--contact{
  border-bottom: 0px;
}
.formularioContacto{
  text-align: center;
  justify-content: center;
}
.formularioContacto input{
  background-color: #D5A6BD;
  color: black;
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
  height: 40px;
  width: 200px;
  margin-top: 10px;
}
.formularioContacto textarea{
  background-color: #D5A6BD;
  color: black;
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
  margin-top: 10px;
  width: 200px;
  height: 150px;
}
.foo--contacto{
  grid-row: 4/5;
  grid-column: 1fr;
}
/*---------------------------------------------------termina contacto---------------------------------------------------*/
}
@media only screen and (min-width:550px) {
  /*cambio en la navegacion*/
.nav-item{
  padding-left: 20px;
}
/*cambios en postres y recetas del index y tamaño de las cajas*/
.recetas{
  flex-direction: row;
}
.linkReceta{
  margin-right: 0;
  margin-left: 0;
}
.contenedor{
  grid-template-columns: 1fr;
  grid-template-rows: 100px 450px 450px 400px 500px ;
}
/*cambio en la pagina quienes somos tamañan de la caja*/
.contenedorQuienesSomos{
  grid-template-rows:100px 300px 650px 550px 300px 500px;
}
/*cambio en la lista de la pagina quienes somos*/
.listQS{
  flex-direction: row;
}
/*cambio en la pagina postres y recetas tamañan de la caja*/
.contenedorPostresyRecetas{
  grid-template-rows: 100px 400px 1300px 1300px 1400px 550px;
}
/*cambio tamaño de imagen en postres y receta*/
.imageTorta{
  height: 250px;
  width: 400px;
}
.linkReceta{
  margin-right: 0;
  margin-left: 0;
}
/*cambio tamaña imagen en la pagina galeria*/
.imageGaleria{
  height: 300px;
  width: 500px;
}
}
@media only screen and (min-width:732px){
/*cambios en el tamaño de las imagenes de la pagina quienes somos*/
.imageQSBox{
  height: 250px;
  width: auto;
}
/*cambios en los ingredientes de la pagina postres y recetas y en el tamaño de sus cajas*/
.imageAndTitle{
  margin-top: 60px;
}
.ingredientes{
  margin-top: 70px;
}
.contenedorPostresyRecetas{
  grid-template-rows: 100px 300px 900px 900px 1000px 550px;
}
}
@media only screen and (min-width:1024px){
  /*cambios en el tamaño de los nav items y del titulo*/
  .nav-item{
    font-size: 12px;
  }
  .title{
    font-size: 45px;
  }
  /*cambios en el index*/
    .contenedor{
      grid-template-columns: 2fr 1fr 2fr;
      grid-template-rows: 100px 450px 450px 400px 300px ;
    }
    .navbar{
      grid-row: 1/2;
      grid-column: 1/4;
    }
    .logoCentro{
      grid-row:2/3;
      grid-column:1/4;
    }
    .quienesSomos{
      grid-row:3/4 ;
      grid-column:1/2 ;
    }
    .galeria{
      display: flex;
      flex-direction: column;
      grid-row:3/4 ;
      grid-column:2/4 ;
    }
    .image{
      height: 250px;
      width: 400px;
    }
    .postresyRecetas{
      grid-row:4/5;
      grid-column:1/3;
    }
    .contacto{
      display: flex;
      flex-direction: column;
      grid-row:4/5 ;
      grid-column: 3/4;
      text-align: center;
    }
    input,textarea,button{
      margin-top: 8px;
      padding: 5px;
    }
    /*cambios en los ingredientes pagina postres y recetas*/
    .ingredientes{
      height: 400px;
      width: 400px;
    }
    /*cambio tamaña del logo index*/
    .logo{
      width: 390px;
      height: 390px;
      margin-bottom: 50px;
    }
    /*cambios en el foo*/
    .contenedorPostresyRecetas{
      grid-template-rows: 100px 300px 900px 900px 1000px 300px;
    }
    .contenedorQuienesSomos{
      grid-template-rows:100px 300px 650px 550px 300px 300px;
    }
    .contenedorContacto{
      grid-template-rows:100px 200px 500px 300px;
    }
    .contenedorGaleria{
      grid-template-rows:100px 200px 300px 300px;
    }
    .foo{
      flex-direction: row;
      justify-content: space-around;
      padding-top: 30px;
    }
    /*cambios en la pagina galeria*/
    .contenedorGaleria{
      grid-template-columns: 1fr;
      grid-template-rows: 100px 200px 500px 300px ;
    }
    /*cambio tamaña imagen en la pagina galeria*/
    .imageGaleria{
      height: 400px;
      width: 700px;
    }
}
@media only screen and (min-width:1500px){
  /*cambio en el tamaño de las imaneges*/
  .image{
    height: 300px;
    width: 500px;
  }
  .imagePyR{
    height: 225px;
    width: 375px;
    margin-top: 0px;
  }
  /*cambios en la pagina quienes somos*/
  .contenedorQuienesSomos{
    grid-template-rows:100px 300px 400px 400px 300px 300px;
  }
  .queHacemos{
    flex-direction: row;
  }
  .porqueLoHacemos{
    flex-direction: row;
  }
  .TitleAndImageQS{
    margin-left: 10px;
  }
  .textosmall--QS{
    margin-top: 120px;
    width: 800px;
  }
  .imageQSBox{
    width: 550px;
  }
  .listQS h4{
    font-size: 25px;
  }
  .listQS i{
    font-size: 50px;
    margin-bottom: 10px;
    color: #6a0c3b;
  }
/*cambio tamaña imagen en la pagina galeria*/
  .contenedorGaleria{
    grid-template-rows:100px 200px 700px 300px;
    }
  .imageGaleria{
    height: 700px;
    width: 1100px;
    }
  /*cambios en la pagina postres y recetas*/
  .contenedorPostresyRecetas{
    grid-template-rows: 100px 300px 600px 600px 750px 300px;
  }
  .receta{
    flex-direction: row;
  }
  .imageTorta{
    width: 450px;
    height: 300px;
  }
  .imageAndTitle{
    width: 400px;
    height: 250px;
    margin-top: 20px;
    margin-right: 25px;
  }
  .ingredientes{
    margin-top: 120px;
  }
  .listIng{
    margin-top: 50px;
  }
  .titleTorta{
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 40px;
    }
  .preparacion{
    width: 580px;
    margin-top: 100px;
  }
}