@import url('httpsfonts.googleapis.comcss2family=Dosiswght@300&display=swap');
@import url('httpsfonts.googleapis.comcss2family=Send+Flowers&display=swap');
@import url('httpsfonts.googleapis.comcss2family=Indie+Flower&display=swap');
@import url('httpsfonts.googleapis.comcss2family=Cormorant+Garamondwght@300&display=swap');
$fondooscuro:#A64D79;
$fondoClaro:#D5A6BD;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: $fondooscuro;
}

$colorFoo:(
  contactenos:$fondoClaro,
  ayuda : #da247e,
  redes: #650636,
);

@each $fooPart, $color in $colorFoo{
  .map--#{$fooPart}{
    color: $color;
  }
}
$estilos:(
  color1:pink,
  color2:blue,
  centrar:center,
  titlesize:40px
);
@mixin fontsize($size){
  font-size: $size;
}
.logo{
  margin-top: 50px;
  height: 500px;
}
.border{
  border: 1px solid black !important;
}
.titleBox{
  text-decoration: none;
  color: black;
}
.contenedor{
  display: grid;
}
.contenedorContacto{
  @extend .contenedor;
}
.contenedorPostresyRecetas{
  @extend .contenedor;
}
.contenedorQuienesSomos{
  @extend .contenedor;
}
.contenedorGaleria{
  @extend .contenedor;
}
a:hover {
  color: $fondooscuro;
}
.listPre, .textoSmall--PyR{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}
/* comienza el nav*/
.navbar{
  background-color: $fondoClaro !important;
}
.navChanges{
  padding-left: 15px;

  font-weight: bold;
}
.title{ 
  color: white !important;
  font-family: 'Indie Flower', cursive;
  font-size: map-get($map: $estilos, $key:titlesize );
  font-weight: 500;
}
.navbar li{
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
  padding: 8px;
}
/*termina el nav*/

/*comienza logo*/
.logoCentro{
  text-align: center;
}
/*termina logo*/

/*comienzan articles de arriba*/
/*articulo de quienes somos*/
.quienesSomos{
  background-color: #D5A6BD;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  text-align: center;
}

.titleBox{
  display: inline-block;
  color: white;
  font-family: 'Indie Flower', cursive; 
}

.textoSmall{
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}

.quienesSomos p a {
  color: $fondooscuro;
}
.textoSmall{
  margin-top: 75px;
  font-family: 'Cormorant Garamond', serif !important;
  font-weight: bold;
  @include fontsize(18px)
}
.textoSmall a{
  color: $fondooscuro;
  text-decoration: none;
}
.textoSmall a:hover{
  color: white;
}
/*termina articulo de quienes somos*/
/*comienza articulo de galeria*/
.galeria{  
  background-color: #D5A6BD;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.imgGaleria{
  border: 5px groove grey;
}
/*comienza postres y recetas*/
.postresyRecetas{
  background-color: #D5A6BD;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.recetas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
.imagePyR{
  border: 5px groove grey;
  height: 250px;
  width: auto;
  margin-top: 20px;

}
.linkReceta{
  display: block;
  padding: 10px 30px 10px 30px;
	background-color: $fondooscuro;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.linkReceta:hover{
  background-color: #6a0c3b;
}
.colorWhite{
  color: white;
}
/*termina postres y recetas*/
/*comienza articulo contacto*/
.contacto{
  background-color: #D5A6BD;
  text-align: center;
  display: flex;
  flex-direction: column;
}

form input,form textarea{
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  border: none;
  resize: none; 
  margin-top: 10px;
  padding: 5px; 
}
form button {
  padding: 10px 30px 10px 30px;
	background-color: $fondooscuro;
	color: 	white;
  font-family: "Roboto", sans-serif;
}
form button:hover{
  background-color: #6a0c3b;
}

/*termina articulo contacto*/
/*comienza footer*/
.containerFoo{
  height: 300px;
}
.foo{
  padding-top: 30px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

strong {
  color: white;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}

.listFoo {
  margin-top: 20px;
  list-style: none;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  float: center;
  color: white;
  font-size: 18px;
  line-height: 30px;
}

footer div li a {
  color: white;
  text-decoration: none;
}
footer div li a:hover {
  color: #D5A6BD;
}
.fooImage{
  height: 15px;
}
/*termina footer*/
/*
*------------------------------------Comienza Media------------------------------------------------------------------------------------------*/
/*----------------------COMIENZA MEDIA DESDE 318PX A  480PX-------------------------------------------------------------------------------*/
@media only screen and (min-width:318px) and (max-width:480px) {
  .contenedor{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 450px 600px 650px 500px ;
  }
  /*comienza nav*/
  .navegador{
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .title{
    margin: 35px 0px 2px 15px ;
    font-size: 23px;
  }
  .navegacion{
    width: 100px;
    background-color: #D5A6BD;
    border: none;
    margin-right: 35px;
  }
  .linav{
    text-align: center;
    font-size: 12px;
  }
  /*termina nav*/
  /*comienza logo*/
  .logoCentro{
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .logo{
    margin-top: 50px;
    height: 300px;
    width: auto;
  }
  /*termina logo*/
  /*comienzan articles de arriba*/
  /*articulo de quienes somos*/
  .quienesSomos{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .titleBox{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 35px;
  }
  .textoSmall{
    margin: 10px 40px 0px 40px;
    line-height: 25px;
    font-size: 16px;
  }
  /*termina articulo de quienes somos*/
  /*comeienza arituclo galeria*/
  .galeria{
    display: none;
  }
  /*termina articulo galeria*/
  /*termina articles de arriba*/
  /*comienza articulos de abajo*/
  /*comienza articulo postres y recetas*/
  .postresyRecetas{
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .recetas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }
  .imagePyR{
    height: 150px;
    width: auto;
    margin-top: 20px;
  }
  .linkReceta{
    margin-top: 10px;
    margin-right: 97px;
    margin-left: 97px;
  }
  /*termina articulo postres y recetas*/
  /*comienza articulo contacto*/
  .contacto{
    display: none;
  }
  /*termina articulo contacto*/
  /*termina articulos de abajo*/
  /*comienza footer*/
  .foo{
    grid-column: 1/4;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }

  .fooImage {
    height: 15px;
    width: 15px;
    margin: 0px 5px 0px 5px;
  }
  strong{
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 20px;
  }
  .marginTop{
    margin-top: 20px;
  }    
  .listfoo--contact{
    margin: 5px 5px 5px 30px;
  }

  .listfoo--redes{
    margin: 5px 5px 5px 30px;
 }

  .listfoo--ayuda{
    margin: 5px 5px 5px 30px;
  }
       /*---------------------------------COMIENZA PAGINA QUIENES SOMOS--------------------------------------------------------------------------------------------*/
       .contenedorQuienesSomos{
        grid-template-rows:100px 400px 700px 700px 400px 500px;
        grid-template-columns: 1fr;
      }
      .navegador{
        grid-column: 1fr;
        grid-row: 1/2;
      }
      /*comienza titulo de la pagina*/
      .tituloPags{
        grid-column: 1fr;
        grid-row:2/3;
      }
      .title--Pag{
        text-align: center;
        font-size: 40px;
        padding-top: 170px;
      }
      /*termina titulo de la pagina*/
      /*comienza articulo que hacemos*/
      .queHacemos{
        grid-column: 1fr;
        grid-row:3/4;
        background-color: #D5A6BD;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .TitleAndImagePyR{
        margin-top: 10px;
        text-align: center;
      }
      .TitleAndImagePyRUnder{
        margin-top: 10px;
        text-align: center;
      }
      .titleBox{
        display: block;
        margin-top: 10px; 
        font-size: 27px;
      }
      .textoSmall--PyR{
        text-align: center;
        margin-top: 10px;
        margin-left: 30px;
        font-size: 16px;
        width: 300px;
      }
      .textoSmall--PyR a{
        color: $fondooscuro;
      }
      .textoSmall--PyR a:hover{
        color: white;
      }
      .imagePyRBox {
        height: 200px;
        width: auto;
        border: 5px groove grey;
      }
      /*termina articulo que hacemos*/
      /*comienza articulo porque lo hacemos*/
      .porqueLoHacemos{
        grid-column: 1fr;
        grid-row:4/5;
        background-color: $fondooscuro;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      /*termina articulo porque lo hacemos*/
      /*comienza articulo les aseguramos*/
      .lesAseguramos{
      grid-column: 1fr;
      grid-row:5/6;
      background-color: #D5A6BD;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      }
      .titleBox--LesAseguramos{
        display: inline-block;
        text-align: center;
        margin-top: 40px;
        font-size: 40px;
      }
      .listPyR{
        margin-top: 70px;
        padding: 5px;
        list-style-type:none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        color: white;
      }
      .listPyR h4{
        font-size: 18px;
      }
      .listPyR i{
        font-size: 30px;
        margin-bottom: 20px;
        color: #6a0c3b;
      }
      /*termina articulo les aseguramos*/
    .foo--PyR{
      grid-column: 1fr;
      grid-row: 6/7;
    }
    /*--------------------------------------------------------------------------------------TERMINA PAGINA SOBRE NOSOSTROS-----------------------------------------------------------------------------------------------------------*/
        /*--------------------------------------------------------------------------------comienza pagina postresyrecetas--------------------------------------------------------------------------------------------------------------*/
        .contenedorPostresyRecetas{
          grid-template-columns: 1fr;
          grid-template-rows: 100px 400px 1300px 1300px 1400px 550px;
        }
      .receta1{
        grid-column: 1/2;
        grid-row: 3/4;  
      }
      .receta2{
        grid-column: 1/2;
        grid-row: 4/5;
      }
      .receta3{
        grid-column: 1/2;
        grid-row: 5/6;
      }
      .flexcontainer{
        background-color:#D5A6BD;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        }
      .imageAndTitle{
      margin-top: 50px;
      }
      .imageTorta{
        width: 400px;
        height: 250px;
        border: 5px grey groove;
        display: inline-block;
      }
      .titleTorta{
        display: inline-block;
        margin-bottom: 20px;
        margin-left: 100px;
        font-size: 30px;
      }
      .titleTorta--brownie{
        margin-left: 140px;
      }
      
      .ingredientes{
        margin-top: 50px;
        border: 5px groove black;
        background-color:$fondooscuro;
        display: inline-block;
        border-radius: 50%;
        width: 300px;
        height: 300px;
      }
      .titleIng{
        font-family:'Indie Flower', cursive;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 16px;
        color: white;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      
      .listIng{
        color: white;
        text-align: center;
        list-style-type: none;
        margin-top: 40px;
        font-family: 'Cormorant Garamond', serif;
        font-size: 13px;
        font-weight: 500;
        margin-right: 30px;
      }
      .preparacion{
        display: inline-block;
        width: 500px;
        margin-top: 50px;
      }
      .titlePre{
      font-family:'Indie Flower', cursive;
      font-size: 30px;
      text-align: center;
      margin-bottom: 25px;
      }
      
      .listPre {
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        line-height: 25px;
        font-size: 20px;
      }
      .foo-postresyRecetas{
        grid-column: 1fr;
        grid-row: 6/7;
      }
      /*------------------------------------------------termina pagina postresyrecetas--------------------------------------------------------------------------------------------------------------------*/
          /*-----------------------------------------------COMIENZA PAGINA CONTACTO---------------------------------------------------------------------*/
    .contenedorContacto{
      grid-template-rows:100px 300px 500px 500px;
      grid-template-columns: 1fr; 
    }
    .formularioContacto{
      grid-row: 3/4;
      grid-column: 1fr; 
    }
    .border--contact{
      border-bottom: 0px;
    }
    .formularioContacto{
      text-align: center;
      justify-content: center;
    }
    .formularioContacto input{
      background-color: #D5A6BD;
      color: black;
      text-transform: capitalize;
      font-weight: bold;
      font-family: 'Cormorant Garamond', serif;
      height: 40px;
      width: 200px;
      margin-top: 10px;
    }
    .formularioContacto textarea{
      background-color: #D5A6BD;
      color: black;
      text-transform: capitalize;
      font-weight: bold;
      font-family: 'Cormorant Garamond', serif;
      margin-top: 10px;
      width: 200px;
      height: 150px;
    }
    .foo--contacto{
      grid-row: 4/5;
      grid-column: 1fr;
    }
    /*-----------------------------------------------TERMINA PAGINA CONTACTO---------------------------------------------------------------------*/
  }
/*----------------------COMIENZA MEDIA 480PX A 703PX---------------------------------------------------------------------------------------*/
@media only screen and (min-width:480px) and (max-width:703px) {
      /*-----------------------------------------------------------COMIENZA PAGINA INICIO------------------------------------------------------------*/
  .contenedor{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 600px 600px 800px 500px ;
  }
    /*comienza nav*/
    .navegador{
      grid-column: 1/5;
      grid-row: 1/2;
    }
    .title{
      margin: 25px 0px 2px 0px ;
      font-size: 35px;
    }
    .navegacion{
      width: 100px;
      background-color: #D5A6BD;
      border: none;
      margin-right: 35px;
    }
    .linav{
      text-align: center;
      font-size: 12px;
    }
    /*termina nav*/
  /*comienza logo*/
  .logoCentro{
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .logo{
    margin-top: 50px;
    height: 475px;
    width: auto;
  }
  /*termina logo*/
  /*comienzan articles de arriba*/
  /*articulo de quienes somos*/
  .quienesSomos{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .titleBox{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
  }
  .textoSmall{
    margin: 20px 40px 0px 40px;
    line-height: 30px;
    font-size: 18px;
  }
  /*termina articulo de quienes somos*/
  /*comeienza arituclo galeria*/
  .galeria{
    display: none;
  }
  /*termina articulo galeria*/
  /*termina articles de arriba*/
  /*comienza articulos de abajo*/
  /*comienza articulo postres y recetas*/
  .postresyRecetas{
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .recetas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }
  .imagePyR{
    height: 220px;
    width: auto;
    margin-top: 20px;
  }
  .linkReceta{
    margin-top: 10px;
    margin-right: 97px;
    margin-left: 97px;
  }
  /*termina articulo postres y recetas*/
  /*comienza articulo contacto*/
  .contacto{
    display: none;
  }
  /*termina articulo contacto*/
  /*termina articulos de abajo*/
  /*comienza footer*/
  .foo{
    grid-column: 1/4;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }

  .fooImage {
    height: 15px;
    width: 15px;
    margin: 0px 5px 0px 5px;
  }
  strong{
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 20px;
  }
  .marginTop{
    margin-top: 20px;
  }    
  .listfoo--contact{
    margin: 5px 5px 5px 30px;
  }

  .listfoo--redes{
    margin: 5px 5px 5px 30px;
 }

  .listfoo--ayuda{
    margin: 5px 5px 5px 30px;
  }
  /*-----------------------------------------TERMINA PAGINA INICIO--------------------------------------------------------------------------------------------*/
     /*---------------------------------COMIENZA PAGINA QUIENES SOMOS--------------------------------------------------------------------------------------------*/
     .contenedorQuienesSomos{
      grid-template-rows:100px 400px 600px 600px 400px 500px;
      grid-template-columns: 1fr;
    }
    .navegador{
      grid-column: 1fr;
      grid-row: 1/2;
    }
    /*comienza titulo de la pagina*/
    .tituloPags{
      grid-column: 1fr;
      grid-row:2/3;
    }
    .title--Pag{
      text-align: center;
      padding-top: 170px;
    }
    /*termina titulo de la pagina*/
    /*comienza articulo que hacemos*/
    .queHacemos{
      grid-column: 1fr;
      grid-row:3/4;
      background-color: #D5A6BD;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
    }
    .TitleAndImagePyR{
      margin-top: 10px;
      text-align: center;
    }
    .TitleAndImagePyRUnder{
      margin-top: 10px;
      margin-bottom: 50px;
      text-align: center;
    }
    .titleBox{
      display: block; 
      font-size: 30px;
    }
    .textoSmall--PyR{
      text-align: center;
      margin-top: 20px;
      font-size: 17px;
      width: 650px;
      height: 240px;
    }
    .textoSmall--PyR a{
      color: $fondooscuro;
    }
    .textoSmall--PyR a:hover{
      color: white;
    }
    .imagePyRBox {
      height: 200px;
      width: auto;
      border: 5px groove grey;
    }
    /*termina articulo que hacemos*/
    /*comienza articulo porque lo hacemos*/
    .porqueLoHacemos{
      grid-column: 1fr;
      grid-row:4/5;
      background-color: $fondooscuro;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    /*termina articulo porque lo hacemos*/
    /*comienza articulo les aseguramos*/
    .lesAseguramos{
    grid-column: 1fr;
    grid-row:5/6;
    background-color: #D5A6BD;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }
    .titleBox--LesAseguramos{
      display: inline-block;
      text-align: center;
      margin-top: 40px;
      font-size: 40px;
    }
    .listPyR{
      margin-top: 70px;
      list-style-type:none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
      color: white;
      font-size: 20px;
    }
    .listPyR i{
      font-size: 40px;
      margin-bottom: 20px;
      color: #6a0c3b;
    }
    /*termina articulo les aseguramos*/
  .foo--PyR{
    grid-column: 1fr;
    grid-row: 6/7;
  }
  /*--------------------------------------------------------------------------------------TERMINA PAGINA SOBRE NOSOSTROS-----------------------------------------------------------------------------------------------------------*/
    /*--------------------------------------------------------------------------------comienza pagina postresyrecetas--------------------------------------------------------------------------------------------------------------*/
    .contenedorPostresyRecetas{
      grid-template-columns: 1fr;
      grid-template-rows: 100px 400px 1300px 1300px 1400px 450px;
    }
  .receta1{
    grid-column: 1/2;
    grid-row: 3/4;  
  }
  .receta2{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .receta3{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .flexcontainer{
    background-color:#D5A6BD;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    }
  .imageAndTitle{
  margin-top: 50px;
  }
  .imageTorta{
    width: 400px;
    height: 250px;
    border: 5px grey groove;
    display: inline-block;
  }
  .titleTorta{
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 100px;
    font-size: 30px;
  }
  .titleTorta--brownie{
    margin-left: 140px;
  }
  
  .ingredientes{
    margin-top: 50px;
    border: 5px groove black;
    background-color:$fondooscuro;
    display: inline-block;
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  .titleIng{
    font-family:'Indie Flower', cursive;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .listIng{
    color: white;
    text-align: center;
    list-style-type: none;
    margin-top: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 12px;
    font-weight: 500;
    margin-right: 30px;
  }
  .preparacion{
    display: inline-block;
    width: 500px;
    margin-top: 50px;
  }
  .titlePre{
  font-family:'Indie Flower', cursive;
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
  }
  
  .listPre {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    line-height: 25px;
    font-size: 20px;
  }
  .foo-postresyRecetas{
    grid-column: 1fr;
    grid-row: 6/7;
  }
  /*------------------------------------------------termina pagina postresyrecetas--------------------------------------------------------------------------------------------------------------------*/
    /*-----------------------------------------------COMIENZA PAGINA CONTACTO---------------------------------------------------------------------*/
    .contenedorContacto{
      grid-template-rows:100px 300px 500px 500px;
      grid-template-columns: 1fr; 
    }
    .formularioContacto{
      grid-row: 3/4;
      grid-column: 1fr; 
    }
    .border--contact{
      border-bottom: 0px;
    }
    .formularioContacto{
      text-align: center;
      justify-content: center;
    }
    .formularioContacto input{
      background-color: #D5A6BD;
      color: black;
      text-transform: capitalize;
      font-weight: bold;
      font-family: 'Cormorant Garamond', serif;
      height: 40px;
      width: 200px;
      margin-top: 10px;
    }
    .formularioContacto textarea{
      background-color: #D5A6BD;
      color: black;
      text-transform: capitalize;
      font-weight: bold;
      font-family: 'Cormorant Garamond', serif;
      margin-top: 10px;
      width: 200px;
      height: 150px;
    }
    .foo--contacto{
      grid-row: 4/5;
      grid-column: 1fr;
    }
    /*-----------------------------------------------TERMINA PAGINA CONTACTO---------------------------------------------------------------------*/
}
/*----------------------Media 704px a 1199px--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:704px) and (max-width:1199px) {
    /*-----------------------------------------------------------COMIENZA PAGINA INICIO------------------------------------------------------------*/
  .contenedor{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 700px 500px 500px 300px ;
  }
  .navegador{
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .title{
    margin: 20px 0px 2px 10px ;
    font-size: 45px;
  }
  .navegacion{
    padding: 5px 5px;
    margin: 35px 10px 30px 0px;
  }
  .linav{
    padding: 1px 5px 1px 5px;
    font-size: 14px;
  }
  /*termina nav*/
  /*comienza logo*/
  .logoCentro{
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .logo{
    margin-top: 100px;
  }
  /*termina logo*/
  /*comienzan articles de arriba*/
  /*articulo de quienes somos*/
  .quienesSomos{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .titleBox{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
  }
  .textoSmall{
    margin: 20px 40px 0px 40px;
    line-height: 30px;
    font-size: 18px;
  }
  /*termina articulo de quienes somos*/
  /*comeienza arituclo galeria*/
  .galeria{
    display: none;
  }
  /*termina articulo galeria*/
  /*termina articles de arriba*/
  /*comienza articulos de abajo*/
  /*comienza articulo postres y recetas*/
  .postresyRecetas{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .imagePyR{
    height: 185px;
    width: auto;
    margin-top: 20px;
  }
  .linkReceta{
    margin-top: 10px;
    margin-right: 97px;
    margin-left: 97px;
  }
  /*termina articulo postres y recetas*/
  /*comienza articulo contacto*
  .contacto{
    display: none;
  }
  /*termina articulo contacto*/
  /*termina articulos de abajo*/
  /*comienza footer*/
  .foo{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  strong {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .fooImage {
    height: 15px;
    width: 15px;
    margin: 0px 5px 0px 5px;
  }
  .marginTop{
    margin-top: 60px;
  }    
  .listfoo--contact{
    margin: 20px 20px 20px 8px;
  }

  .listfoo--redes{
    margin: 20px 2px 20px 55px;
 }

  .listfoo--ayuda{
    margin: 20px 0px 20px 0px;
  }
  /*comienza footer*/
    /*---------------------------------TERMINA PAGINA INICIO----------------------------------------------------------------------------------------------------*/
    /*---------------------------------COMIENZA PAGINA QUIENES SOMOS--------------------------------------------------------------------------------------------*/
  .contenedorQuienesSomos{
    grid-template-rows:100px 400px 500px 500px 400px 300px;
    grid-template-columns: 1fr;
  }
  .navegador{
    grid-column: 1fr;
    grid-row: 1/2;
  }
  /*comienza titulo de la pagina*/
  .tituloPags{
    grid-column: 1fr;
    grid-row:2/3;
  }
  .title--Pag{
    text-align: center;
    padding-top: 170px;
  }
  /*termina titulo de la pagina*/
  /*comienza articulo que hacemos*/
  .queHacemos{
    grid-column: 1fr;
    grid-row:3/4;
    background-color: #D5A6BD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .TitleAndImagePyR{
    margin-top: 100px;
    text-align: center;
  }
  .TitleAndImagePyRUnder{
    margin-top: 100px;
    text-align: center;
  }
  .titleBox{
    display: block;
    margin-top: 20px;
    font-size: 40px;
  }
  .textoSmall--PyR{
    text-align: center;
    margin-top: 150px;
    font-size: 16px;
    width: 350px;
  }
  .textoSmall--PyR a{
    color: $fondooscuro;
  }
  .textoSmall--PyR a:hover{
    color: white;
  }
  .imagePyRBox {
    height: 150px;
    width: auto;
    border: 5px groove grey;
  }
  /*termina articulo que hacemos*/
  /*comienza articulo porque lo hacemos*/
  .porqueLoHacemos{
    grid-column: 1fr;
    grid-row:4/5;
    background-color: $fondooscuro;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  /*termina articulo porque lo hacemos*/
  /*comienza articulo les aseguramos*/
  .lesAseguramos{
  grid-column: 1fr;
  grid-row:5/6;
  background-color: #D5A6BD;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }
  .titleBox--LesAseguramos{
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
  }
  .listPyR{
    margin-top: 70px;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 25px;
  }
  .listPyR i{
    font-size: 50px;
    margin-bottom: 20px;
    color: #6a0c3b;
  }
  /*termina articulo les aseguramos*/
.foo--PyR{
  grid-column: 1fr;
  grid-row: 6/7;

/*--------------------------------------------------------------------------------------TERMINA PAGINA SOBRE NOSOSTROS-----------------------------------------------------------------------------------------------------------*/
}
/*--------------------------------------------------------------------------------------TERMINA PAGINA SOBRE NOSOSTROS-----------------------------------------------------------------------------------------------------------*/
  /*--------------------------------------------------------------------------------comienza pagina postresyrecetas--------------------------------------------------------------------------------------------------------------*/
  .contenedorPostresyRecetas{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px 1100px 1100px 1100px 300px;
  }
.receta1{
  grid-column: 1/2;
  grid-row: 3/4;  
}
.receta2{
  grid-column: 1/2;
  grid-row: 4/5;
}
.receta3{
  grid-column: 1/2;
  grid-row: 5/6;
}
.flexcontainer{
  background-color:#D5A6BD;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  }
.imageAndTitle{
margin-top: 100px;
}
.imageTorta{
  width: 400px;
  height: 250px;
  border: 5px grey groove;
  display: inline-block;
}
.titleTorta{
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 100px;
  font-size: 30px;
}
.titleTorta--brownie{
  margin-left: 140px;
}

.ingredientes{
  margin-top: 150px;
  border: 5px groove black;
  background-color:$fondooscuro;
  display: inline-block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.titleIng{
  font-family:'Indie Flower', cursive;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.listIng{
  color: white;
  text-align: center;
  list-style-type: none;
  margin-top: 40px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 12px;
  font-weight: 500;
  margin-right: 30px;
}
.preparacion{
  display: inline-block;
  width: 500px;
  margin-top: 0px;
}
.titlePre{
font-family:'Indie Flower', cursive;
font-size: 30px;
text-align: center;
margin-bottom: 25px;
}

.listPre {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  line-height: 25px;
  font-size: 20px;
}
.foo-postresyRecetas{
  grid-column: 1fr;
  grid-row: 6/7;
}
/*------------------------------------------------termina pagina postresyrecetas--------------------------------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------COMIENZA PAGINA CONTACTO---------------------------------------------------------------------*/
  .contenedorContacto{
    grid-template-rows:100px 300px 500px 300px;
    grid-template-columns: 1fr; 
  }
  .formularioContacto{
    grid-row: 3/4;
    grid-column: 1fr; 
  }
  .border--contact{
    border-bottom: 0px;
  }
  .formularioContacto{
    text-align: center;
    justify-content: center;
  }
  .formularioContacto input{
    background-color: #D5A6BD;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    height: 40px;
    width: 200px;
    margin-top: 10px;
  }
  .formularioContacto textarea{
    background-color: #D5A6BD;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 10px;
    width: 200px;
    height: 150px;
  }
  .foo--contacto{
    grid-row: 4/5;
    grid-column: 1fr;
  }
  /*-----------------------------------------------TERMINA PAGINA CONTACTO---------------------------------------------------------------------*/
}
/*----------------------Media 1200px--------------------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------COMIENZA PAGINA INICIO------------------------------------------------------------*/
@media only screen and (min-width:1200px) and (max-width:1450px) {
  .contenedor{
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 100px 700px 500px 500px 300px ;
  }
  /*comienza nav*/
  .navegador{
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .title{
    margin: 2px 40px 2px 40px ;
    font-size: 65px;
  }
  .navegacion{
    padding: 5px 5px;
    margin: 30px 100px 29px 0px;
  }
  .linav{
    padding: 1px 17px 1px 17px;
  }
  /*termina nav*/
  /*comienza logo*/
  .logoCentro{
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .logo{
    margin-top: 100px;
  }
  /*termina logo*/
  /*comienzan articles de arriba*/
  /*articulo de quienes somos*/
  .quienesSomos{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .titleBox{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 40px;
  }
  .textoSmall{
    margin: 20px 40px 0px 40px;
    line-height: 30px;
    font-size: 18px;
  }
  /*termina articulo de quienes somos*/
  /*comeienza arituclo galeria*/
  .galeria{
    grid-column: 2/4;
    grid-row: 3/4;
    text-align: center;
  }
  .titleBox{
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .image {
    height: 250px;
    width: auto;
    margin-top: 40px;
    margin-left: 140px;
  }
  /*termina articulo galeria*/
  /*termina articles de arriba*/
  /*comienza articulos de abajo*/
  /*comienza articulo postres y recetas*/
  .postresyRecetas{
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .titleBox{
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .imagePyR{
    height: 185px;
    width: auto;
    margin-top: 0px;
  }
  .linkReceta{
    margin-top: 10px;
    margin-right: 97px;
    margin-left: 97px;
  }

  /*termina articulo postres y recetas*/
  /*comienza articulo contacto*/
  .contacto{
    grid-column: 3/4;
    grid-row: 4/5;
  }
  form input,form textarea{
    margin-bottom: 15px;
    padding: 10px; 
  }
  form textarea{
    width: 190px;
  }
  form button {
    padding: 10px 30px 10px 30px;
  }
  /*termina articulo contacto*/
  /*termina articulos de abajo*/
  /*comienza footer*/
  .foo{
    grid-column: 1/4;
    grid-row: 5/6;
  }
  strong {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .fooImage {
    height: 15px;
    width: 15px;
    margin: 0px 5px 0px 5px;
  }
  .marginTop{
    margin-top: 60px;
  }    
  .listfoo--contact{
    margin: 20px 20px 20px 8px;
  }

  .listfoo--redes{
    margin: 20px 2px 20px 55px;
 }

  .listfoo--ayuda{
    margin: 20px 0px 20px 0px;
  }
  /*comienza footer*/
  /*---------------------------------TERMINA PAGINA INICIO----------------------------------------------------------------------------------------------------*/
  /*---------------------------------COMIENZA PAGINA QUIENES SOMOS--------------------------------------------------------------------------------------------*/
  .contenedorQuienesSomos{
    grid-template-rows:100px 400px 500px 500px 400px 300px;
    grid-template-columns: 1fr;
  }
  .navegador{
    grid-column: 1fr;
    grid-row: 1/2;
  }
  /*comienza titulo de la pagina*/
  .tituloPags{
    grid-column: 1fr;
    grid-row:2/3;
  }
  .title--Pag{
    text-align: center;
    padding-top: 170px;
  }
  /*termina titulo de la pagina*/
  /*comienza articulo que hacemos*/
  .queHacemos{
    grid-column: 1fr;
    grid-row:3/4;
    background-color: #D5A6BD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .TitleAndImagePyR{
    text-align: center;
  }
  .TitleAndImagePyRUnder{
    margin-top: 100px;
    text-align: center;
  }
  .titleBox{
    display: block;
    margin-top: 20px;
  }
  .textoSmall--PyR{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    width: 600px;
  }
  .textoSmall--PyR a{
    color: $fondooscuro;
  }
  .textoSmall--PyR a:hover{
    color: white;
  }
  .imagePyRBox {
    height: 300px;
    width: auto;
    border: 5px groove grey;
  }
  /*termina articulo que hacemos*/
  /*comienza articulo porque lo hacemos*/
  .porqueLoHacemos{
    grid-column: 1fr;
    grid-row:4/5;
    background-color: $fondooscuro;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  /*termina articulo porque lo hacemos*/
  /*comienza articulo les aseguramos*/
  .lesAseguramos{
  grid-column: 1fr;
  grid-row:5/6;
  background-color: #D5A6BD;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }
  .titleBox--LesAseguramos{
    display: inline-block;
    text-align: center;
    margin-top: 60px;
  }
  .listPyR{
    margin-top: 30px;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 25px;
  }
  .listPyR i{
    font-size: 50px;
    margin-bottom: 20px;
    color: #6a0c3b;
  }
  /*termina articulo les aseguramos*/
.foo--PyR{
  grid-column: 1fr;
  grid-row: 6/7;
}
/*--------------------------------------------------------------------------------------TERMINA PAGINA SOBRE NOSOSTROS-----------------------------------------------------------------------------------------------------------*/
  /*--------------------------------------------------------------------------------comienza pagina postresyrecetas--------------------------------------------------------------------------------------------------------------*/
  .contenedorPostresyRecetas{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px 650px 650px 650px 300px;
  }
.receta1{
  grid-column: 1/2;
  grid-row: 3/4;  
}
.receta2{
  grid-column: 1/2;
  grid-row: 4/5;
}
.receta3{
  grid-column: 1/2;
  grid-row: 5/6;
}
.flexcontainer{
  background-color:#D5A6BD;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  }
.imageAndTitle{
margin-top: 100px;
}
.imageTorta{
  width: 400px;
  height: 250px;
  border: 5px grey groove;
  display: inline-block;
}
.titleTorta{
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 100px;
  font-size: 30px;
}
.titleTorta--brownie{
  margin-left: 140px;
}

.ingredientes{
  margin-top: 150px;
  border: 5px groove black;
  background-color:$fondooscuro;
  display: inline-block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.titleIng{
  font-family:'Indie Flower', cursive;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.listIng{
  color: white;
  text-align: center;
  list-style-type: none;
  margin-top: 40px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 12px;
  font-weight: 500;
  margin-right: 30px;
}
.preparacion{
  display: inline-block;
  width: 500px;
  margin-top: 80px;
}
.titlePre{
font-family:'Indie Flower', cursive;
font-size: 30px;
text-align: center;
margin-bottom: 25px;
}

.listPre {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  line-height: 25px;
  font-size: 20px;
}
.foo-postresyRecetas{
  grid-column: 1fr;
  grid-row: 6/7;
}
/*------------------------------------------------termina pagina postresyrecetas--------------------------------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------COMIENZA PAGINA CONTACTO---------------------------------------------------------------------*/
  .contenedorContacto{
    grid-template-rows:100px 300px 500px 300px;
    grid-template-columns: 1fr; 
  }
  .formularioContacto{
    grid-row: 3/4;
    grid-column: 1fr; 
  }
  .border--contact{
    border-bottom: 0px;
  }
  .formularioContacto{
    text-align: center;
    justify-content: center;
  }
  .formularioContacto input{
    background-color: #D5A6BD;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    height: 40px;
    width: 200px;
  }
  .formularioContacto textarea{
    background-color: #D5A6BD;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    width: 200px;
    height: 150px;
  }
  .foo--contacto{
    grid-row: 4/5;
    grid-column: 1fr;
  }
  /*-----------------------------------------------TERMINA PAGINA CONTACTO---------------------------------------------------------------------*/
}
/*----------------------------------MEDIA 1451PX A 1888PX------------------------------------------------------------------------------------*/
@media only screen and (min-width:1451px) and (max-width:1888px) {
  /*-----------------------------------------------------------COMIENZA PAGINA INICIO------------------------------------------------------------*/
  .contenedor{
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 100px 700px 500px 500px 300px ;
  }
  /*comienza nav*/
  .navegador{
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .title{
    font-size: 50px;
  }
  /*termina nav*/
  /*comienza logo*/
  .logoCentro{
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .logo{
    margin-top: 100px;
  }
  /*termina logo*/
  /*comienzan articles de arriba*/
  /*articulo de quienes somos*/
  .quienesSomos{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .titleBox{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 40px;
  }
  .textoSmall{
    margin: 20px 40px 0px 40px;
    line-height: 30px;
    font-size: 18px;
  }
  /*termina articulo de quienes somos*/
  .galeria{
    grid-column: 2/4;
    grid-row: 3/4;
    text-align: center;
  }
  .titleBox{
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .image {
    height: 300px;
    width: auto; 
    margin-top: 20px;
    margin-left: 190px;
  }
  /*termina articles de arriba*/
  .postresyRecetas{
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .imagePyR{
    height: 220px;
    width: auto; 
    margin-top: 50px;
  }
  .linkReceta{
    margin-top: 10px;
    margin-right: 140px;
    margin-left: 140px;
  }
/*comienza articulo contacto*/
.contacto{
  grid-column: 3/4;
  grid-row: 4/5;
}
form input,form textarea{
  margin-bottom: 15px;
  padding: 10px; 
}
form textarea{
  width: 190px;
}
form button {
  padding: 10px 30px 10px 30px;
}
/*termina articulo contacto*/
/*termina articulos de abajo*/
/*comienza footer*/
.foo{
  grid-column: 1/4;
  grid-row: 5/6;
}
strong {
  font-size: 30px;
  letter-spacing: 2px;
}
.fooImage {
  height: 15px;
  width: 15px;
  margin: 0px 5px 0px 5px;
}
.marginTop{
  margin-top: 60px;
}    
.listfoo--contact{
  margin: 20px 20px 20px 8px;
}

.listfoo--redes{
  margin: 20px 2px 20px 55px;
}

.listfoo--ayuda{
  margin: 20px 0px 20px 0px;
}
/*termina footer*/
  /*---------------------------------TERMINA PAGINA INICIO----------------------------------------------------------------------------------------------------*/
  /*---------------------------------COMIENZA PAGINA QUIENES SOMOS--------------------------------------------------------------------------------------------*/
  .contenedorQuienesSomos{
    grid-template-rows:100px 400px 500px 500px 400px 300px;
    grid-template-columns: 1fr;
  }
  /*comienza nav*/
  .navegador{
    grid-column: 1fr;
    grid-row: 1/2;
    font-size: 40px;
  }
  /*termina nav*/
  /*comienza titulo de la pagina*/
  .tituloPags{
    text-align: center;
    padding-top: 170px;
  }
  /*termina titulo de la pagina*/
  /*comienza articulo que hacemos*/
  .queHacemos{
    grid-column: 1fr;
    grid-row:3/4;
    background-color: #D5A6BD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .TitleAndImagePyR{
    text-align: center;
  }
  .titleBox{
    display: block;
    margin-top: 20px;
  }
  .textoSmall--PyR{
    text-align: center;
    margin-top: 100px;
    font-size: 22px;
    width: 800px;
  }
  .textoSmall--PyR a{
    color: #A64D79;
  }
  .textoSmall--PyR a:hover{
    color: white;
  }
  .imagePyRBox {
    height: 350px;
    width: auto;
    border: 5px groove grey;
  }
  /*termina articulo que hacemos*/
  /*comienza articulo porque lo hacemos*/
  .porqueLoHacemos{
    grid-column: 1fr;
    grid-row:4/5;
    background-color: #A64D79;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  /*termina articulo porque lo hacemos*/
  /*comienza articulo les aseguramos*/
  .lesAseguramos{
  grid-column: 1fr;
  grid-row:5/6;
  background-color: #D5A6BD;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }
  .titleBox--LesAseguramos{
    display: inline-block;
    text-align: center;
    margin-top: 60px;
  }
  .listPyR{
    margin-top: 70px;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 25px;
  }
  .listPyR i{
    font-size: 50px;
    margin-bottom: 20px;
    color: #6a0c3b;
  }
  /*termina articulo les aseguramos*/
  /*comienza foo*/
.foo--PyR{
  grid-column: 1fr;
  grid-row: 6/7;
}
/*termina foo*/
/*--------------------------------------------------------------------------------------TERMINA PAGINA SOBRE NOSOSTROS-----------------------------------------------------------------------------------------------------------*/
  /*--------------------------------------------------------------------------------comienza pagina postresyrecetas--------------------------------------------------------------------------------------------------------------*/
  .contenedorPostresyRecetas{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px 650px 650px 650px 300px;
  }
.receta1{
  grid-column: 1/2;
  grid-row: 3/4;  
}
.receta2{
  grid-column: 1/2;
  grid-row: 4/5;
}
.receta3{
  grid-column: 1/2;
  grid-row: 5/6;
}
.flexcontainer{
  background-color:#D5A6BD;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  }
.imageAndTitle{
margin-top: 100px;
}
.imageTorta{
  width: 400px;
  height: 250px;
  border: 5px grey groove;
  display: inline-block;
}
.titleTorta{
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 100px;
  font-size: 30px;
}
.titleTorta--brownie{
  margin-left: 140px;
}

.ingredientes{
  margin-top: 150px;
  border: 5px groove black;
  background-color:#A64D79;
  display: inline-block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.titleIng{
  font-family:'Indie Flower', cursive;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.listIng{
  color: white;
  text-align: center;
  list-style-type: none;
  margin-top: 40px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 12px;
  font-weight: 500;
  margin-right: 30px;
}
.preparacion{
  display: inline-block;
  width: 500px;
  margin-top: 80px;
}
.titlePre{
font-family:'Indie Flower', cursive;
font-size: 30px;
text-align: center;
margin-bottom: 25px;
}

.listPre {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  line-height: 25px;
  font-size: 20px;
}
.foo-postresyRecetas{
  grid-column: 1fr;
  grid-row: 6/7;
}
/*------------------------------------------------termina pagina postresyrecetas--------------------------------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------COMIENZA PAGINA CONTACTO---------------------------------------------------------------------*/
  .contenedorContacto{
    grid-template-rows:100px 300px 500px 300px;
    grid-template-columns: 1fr; 
  }
  .formularioContacto{
    grid-row: 3/4;
    grid-column: 1fr; 
  }
  .border--contact{
    border-bottom: 0px;
  }
  .formularioContacto{
    text-align: center;
    justify-content: center;
  }
  .formularioContacto input{
    background-color: #D5A6BD;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    height: 40px;
    width: 200px;
  }
  .formularioContacto textarea{
    background-color: #D5A6BD;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    width: 200px;
    height: 150px;
  }
  .foo--contacto{
    grid-row: 4/5;
    grid-column: 1fr;
  }
  /*-----------------------------------------------TERMINA PAGINA CONTACTO---------------------------------------------------------------------*/
}
/*---------------------------------------------MEDIA 1889PX---------------------------------------------------------------------------------------*/
@media only screen and (min-width:1889px) {
  /*-----------------comienza inicio--------------------------------------------------------------*/
    .contenedor{
      grid-template-columns: 2fr 1fr 2fr;
      grid-template-rows: 100px 700px 500px 500px 300px ;
    }
    /*comienza nav*/
    .navbar{
      grid-column: 1/5;
      grid-row: 1/2;
    }
    .title{
      font-size: 50px;
    }
    /*termina nav*/
    /*comienza logo*/
    .logoCentro{
      grid-column: 1/5;
      grid-row: 2/3;
    }
    .logo{
      margin-top: 100px;
    }
    /*termina logo*/
    /*comienzan articles de arriba*/
    /*articulo de quienes somos*/
    .quienesSomos{
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .titleBox{
      margin-top: 50px;
      margin-bottom: 10px;
      font-size: 40px;
    }
    .textoSmall{
      line-height: 25px;
      font-size: 20px;
      margin-top: 40px;
      margin-left: 30px;
      margin-right: 30px;
    }
    /*termina articulo de quienes somos*/
    .galeria{
      grid-column: 2/4;
      grid-row: 3/4;
      text-align: center;
    }
    .titleBox{
      font-size: 40px;
      letter-spacing: 2px;
      margin-top: 50px;
      margin-bottom: 10px;
    }
    .image {
      height: 275px;
      width: auto;
      margin-top: 40px;
      margin-left: 330px;
    }
    /*termina articles de arriba*/
    .postresyRecetas{
      grid-column: 1/3;
      grid-row: 4/5;
    }
    .imagePyR{
      height: 275px;
      width: auto;
      margin-top: 20px;
    }
    .linkReceta{
      margin-top: 10px;
      margin-right: 200px;
      margin-left: 200px;
    }
  /*comienza articulo contacto*/
  .contacto{
    grid-column: 3/4;
    grid-row: 4/5;
  }
  form input,form textarea{
    margin-bottom: 15px;
    padding: 10px; 
  }
  form textarea{
    width: 190px;
  }
  form button {
    padding: 10px 30px 10px 30px;
  }
  /*termina articulo contacto*/
  /*termina articulos de abajo*/
  /*comienza footer*/
  .foo{
    grid-column: 1/4;
    grid-row: 5/6;
  }
  strong {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .fooImage {
    height: 15px;
    width: 15px;
    margin: 0px 5px 0px 5px;
  }
  .marginTop{
    margin-top: 60px;
  }    
  .listfoo--contact{
    margin: 20px 20px 20px 8px;
  }

  .listfoo--redes{
    margin: 20px 2px 20px 55px;
 }

  .listfoo--ayuda{
    margin: 20px 0px 20px 0px;
  }
  /*termina footer*/
  /*---------------------------------TERMINA PAGINA INICIO----------------------------------------------------------------------------------------------------*/
  /*---------------------------------COMIENZA PAGINA QUIENES SOMOS--------------------------------------------------------------------------------------------*/
  .contenedorQuienesSomos{
    grid-template-rows:100px 300px 500px 500px 400px 300px;
    grid-template-columns: 1fr;
  }
  /*comienza titulo de la pagina*/
  .tituloPags{
    grid-column: 1fr;
    grid-row:2/3;
  }
  .title--Pag{
    text-align: center;
    padding-top: 170px;
  }
  /*termina titulo de la pagina*/
  /*comienza articulo que hacemos*/
  .queHacemos{
    grid-column: 1fr;
    grid-row:3/4;
    background-color: #D5A6BD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .TitleAndImagePyR{
    text-align: center;
  }
  .titleBox{
    display: block;
    margin-top: 20px;
  }
  .textoSmall--PyR{
    line-height: 25px;
    font-size: 20px;
    width: 600px;
    margin-top: 130px;
    text-align: center;
  }
  .textoSmall--PyR a{
    color: #A64D79;
    text-decoration: none;
  }
  .textoSmall--PyR a:hover{
    color: white;
  }
  .imagePyRBox {
    height: 350px;
    width: auto;
    border: 5px groove grey;
  }
  /*termina articulo que hacemos*/
  /*comienza articulo porque lo hacemos*/
  .porqueLoHacemos{
    grid-column: 1fr;
    grid-row:4/5;
    background-color: #A64D79;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  /*termina articulo porque lo hacemos*/
  /*comienza articulo les aseguramos*/
  .lesAseguramos{
  grid-column: 1fr;
  grid-row:5/6;
  background-color: #D5A6BD;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }
  .titleBox--LesAseguramos{
    display: inline-block;
    text-align: center;
    margin-top: 60px;
  }
  .listPyR{
    margin-top: 70px;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 25px;
  }
  .listPyR i{
    font-size: 50px;
    margin-bottom: 20px;
    color: #6a0c3b;
  }
  /*termina articulo les aseguramos*/
  .foo--PyR{
    grid-column: 1fr;
    grid-row: 6/7;
  }
  /*--------------------------------------------------------------------------------------TERMINA PAGINA SOBRE NOSOSTROS-----------------------------------------------------------------------------------------------------------*/
  /*--------------------------------------------------------------------------------comienza pagina postresyrecetas--------------------------------------------------------------------------------------------------------------*/
  .contenedorPostresyRecetas{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px 650px 650px 650px 300px;
  }
.receta1{
  grid-column: 1/2;
  grid-row: 3/4;  
}
.receta2{
  grid-column: 1/2;
  grid-row: 4/5;
}
.receta3{
  grid-column: 1/2;
  grid-row: 5/6;
}
.flexcontainer{
  background-color:#D5A6BD;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  }
.imageAndTitle{
margin-top: 80px;
}
.imageTorta{
  width: 600px;
  height: 400px;
  border: 5px grey groove;
  display: inline-block;
}
.titleTorta{
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 190px;
  font-size: 30px;
}
.titleTorta--brownie{
  margin-left: 250px;
}

.ingredientes{
  margin-top: 150px;
  border: 5px groove black;
  background-color:#A64D79;
  display: inline-block;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
.titleIng{
  font-family:'Indie Flower', cursive;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.listIng{
  color: white;
  text-align: center;
  list-style-type: none;
  margin-top: 40px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  margin-right: 30px;
}
.preparacion{
  display: inline-block;
  width: 750px;
  margin-top: 150px;
}
.titlePre{
font-family:'Indie Flower', cursive;
font-size: 30px;
text-align: center;
margin-bottom: 25px;
}

.listPre {
  line-height: 25px;
  font-size: 20px;
}
.foo-postresyRecetas{
  grid-column: 1fr;
  grid-row: 6/7;
}
/*------------------------------------------------termina pagina postresyrecetas--------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------comienza GALERIA--------------------------------------------------------------------------*/
.contenedorGaleria{
  grid-template-columns: 1fr;
  grid-template-rows: 100px 200px 700px 300px;
}

.tituloGaleria{
  grid-column: 1fr;
  grid-row: 2/3;
}
.carrusel{
  grid-column: 1/2;
  grid-row: 3/4;
  /*background-color: #D5A6BD;*/
}
.imgGaleria{
  height: 550px;
  margin-left: 500px;
  margin-top: 50px;
}
.foo--galeria{
  grid-column: 1/2;
  grid-row: 4/5;
}
/*----------------------------------------------------------------COMIENZA GALERIA--------------------------------------------------------------------------*/
  /*-----------------------------------------------COMIENZA PAGINA CONTACTO---------------------------------------------------------------------*/
  .contenedorContacto{
    grid-template-rows:100px 300px 500px 300px;
    grid-template-columns: 1fr; 
  }
  .formularioContacto{
    grid-row: 3/4;
    grid-column: 1fr; 
  }
  .border--contact{
    border-bottom: 0px;
  }
  .formularioContacto{
    text-align: center;
    justify-content: center;
  }
  .formularioContacto input{
    background-color: #D5A6BD;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    height: 40px;
    width: 200px;
  }
  .formularioContacto textarea{
    background-color: #D5A6BD;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    width: 200px;
    height: 150px;
  }
  .foo--contacto{
    grid-row: 4/5;
    grid-column: 1fr;
  }
  /*-----------------------------------------------TERMINA PAGINA CONTACTO---------------------------------------------------------------------*/
}